@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background! text-foreground! antialiased select-none;
  }
  h1 {
    @apply text-2xl font-semibold my-4;
  }
}

.link {
  @apply cursor-pointer border-b border-ring hover:text-ring hover:border-transparent transition-colors;
}

.parenthesis {
  @apply text-ring;
}
